{% extends "layout.html" %}

{% block title %}Transactions{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
      .important {
          color: #336699;
      }
  </style>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">
        {{ status }}: Access Denied
      </h1>
      <div class="content has-text-centered">
        <p>
          Incorrect credentials provided or failure in backend.
        </p>
      </div>

    </div>
  </section>
{% endblock %}
