<!doctype html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>{% block title %}{% endblock %} - My Webpage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    {% endblock %}
</head>
<body>
{% include 'navbar.html' %}
{% block content %}{% endblock %}
</body>
</html>