{% extends "layout.html" %}

{% block title %}Bread Bucket{% endblock %}

{% block content %}
    <h1>Choose Your Path</h1>
    <ul>
        <li>List last transactions for account: </li>
    </ul>
    <div class="table">
        <div class="row header blue">
            <div class="cell">ID</div>
            <div class="cell">Memo</div>
            <div class="cell">Amount</div>
            <div class="cell">Notes</div>
        </div>
        {% for row in tx %}
        <div class="row">
            <div class="cell">{{ row['id'] }}</div>
            <div class="cell">{{ row['memo'] }}</div>
            <div class="cell {{ "outflow" if row['amount'] < 0 else "inflow" }}">
                {{ (row['amount'] / 100) | currency_format }}
            </div>
            <div class="cell">{{ row['notes'] }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
