{% extends "layout.html" %}

{% block title %}Transactions{% endblock %}

{% block content %}
  <section class="section">
  <div class="content">
    <h1 class="title">Success!</h1>
      <span class="icon-text has-text-success">
        <span class="icon">
          <i class="fas fa-check-square"></i>
        </span>
        <span>Successfully added the transaction!</span>
      </span>
      <div>
          <a class="button is-primary" href="/transaction">Add Another Transaction</a>
          <a class="button is-info" href="/transactions">View All Transactions</a>
      </div>
    </div>
  </section>
{% endblock %}
