{% extends "layout.html" %}

{% block title %}Enter Transactions{% endblock %}

{% block content %}
  <section class="section container has-text-centered">
    <h1 class="title">Enter New Transaction</h1>
    <div class="columns">
      <div class="column is-half">

        <form method="POST" action="/transaction">
          {{ form.csrf_token }}

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              {{ form.account.label(class="label") }}
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    {{ form.account }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              {{ form.amount.label(class="label") }}
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <p class="control has-icons-left">
                  {{ form.amount(size=20, class="input", type="number", step="any", placeholder="0.00") }}
                  <span class="icon is-small is-left">
                    <i class="fas fa-solid fa-coins"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field">
            {{ form.memo.label(class="label") }}
            <p class="control has-icons-left">
              {{ form.memo(size=20, class="input") }}
              <span class="icon is-small is-left">
                <i class="fas fa-solid fa-pencil-alt"></i>
              </span>
            </p>
          </div>

          <div class="field">
            {{ form.notes.label(class="label") }}
            <p class="control has-icons-left">
              {{ form.notes(size=20, class="input") }}
              <span class="icon is-small is-left">
                <i class="fas fa-solid fa-file-alt"></i>
              </span>
            </p>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Save Transaction</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>

        </form>
      </div>

      <div class="column is-half is-vcentered is-expanded">

        <div class="columns is-expanded">
          <div class="column is-half">
            This will form will insert a new transaction into the buckets database file, using the current date. The
            transaction will be uncategorized.
          </div>

          <div class="column is-half is-centered is-vcentered">
            <figure class="image is-128x128">
              <img src="{{ url_for('static', filename='bucket.png') }}">
            </figure>
          </div>
        </div>

      </div>

    </div>

  </section>
{% endblock %}
